<!DOCTYPE html>
<!-- hbs files are convert by html by hbs engine before execution -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Hi i'm DAVINDER, i have create this NODE api using MAPBOX and DARKSKY api's...</p>
        <img class="img-me" src="/img/img.jpg">
    </div>
    {{>footer}}
</body>
</html>