<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <form> 
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <h4 class="msg-1"></h4>
            <p class="msg-2"></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>